body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: #000002;
  color: #d4c3bb;
  font-family: 'Times New Roman', Times, serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  width: 50%;
  background-color: #131222;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin: auto;
}

h2 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1.25rem;
}

button {
  color: #d4c3bb;
  background-color: #131222;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
}

p {
  font-size: max(1.875vw, 1rem);
}

ul {
  padding-left: 1rem;
}

li {
  padding-bottom: 0.25rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.background {
  position: relative;
  width: 50%;
  height: 100%;
}

.background-fade {
  position: absolute;
  height: 100%;
  width: 35vw;
  right: -0.0625rem;
  background-image: linear-gradient(to left, #131222, rgba(0, 0, 0, 0));
}

.main-portrait {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outlet {
  padding: 0.5rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lists {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.places {
  font-size: max(1.5vw, 1rem);
}

.photos {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  overflow: auto;
}

.photo1, .photo2, .photo3, .photo4, .photo5 {
  max-width: 100%;
  max-height: 100%;
}

.photo1 {
  grid-area: 1 / 2 / span 3;
}

.photo2 {
  grid-area: 1 / 1;
}

.photo3 {
  grid-area: 1 / 3 / span 2;
}

.photo4 {
  grid-area: 2 / 1 / span 2;
}

.photo5 {
  grid-area: 3 / 3;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  video {
    height: 50vh;
    background-color: #000002;
    align-self: center;
  }
}

.video-select {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: min-content;
  overflow-x: auto;
  box-sizing: border-box;

  button {
    width: min-content;
  }

  img {
    width: auto;
    height: 6rem;
  }
}

.phone {
  flex-grow: 1;
}

.email {
  text-align: right;
}

.social {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

@media screen and (max-width: 600px) {
  body {
    display: block;
    overflow-y: auto;
  }
  
  main {
    width: 100%;
    min-height: 55vh;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .background {
    position: relative;
    width: 100%;
    height: 45vh;
    overflow-y: hidden;
  }
  
  .background-fade {
    width: 100%;
    height: 50%;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to top, #131222, rgba(0, 0, 0, 0));
  }
  
  .main-portrait {
    height: 50vh;
    max-height: none;
    top: 0;
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 900px) {
  .photos {
    display: grid;
    grid: repeat(3, auto) / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .photo1 {
    grid-area: 1 / 2 / span 2;
  }
  
  .photo2 {
    grid-area: 1 / 1;
  }
  
  .photo3 {
    grid-area: 3 / 1;
  }
  
  .photo4 {
    grid-area: 3 / 2;
  }
  
  .photo5 {
    grid-area: 2 / 1;
  }
}